*{
    padding: 5rem o;
    background-color: #f7fafc;
}
.experience h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #00796b;
}
.experience-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 2rem;
    padding: 1rem;
}
.card{
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(red, green, blue, alpha);
    transition: transfor, 0.3s ease;
}
.card:hover{
    transform: translateY(-5px);
}
.card h3{
    color: black;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}
.card p{
    color: #4a5568;
}
/* footer */
footer{
    background-color: aqua;
    color:black;
    text-align: center;
    padding: 1.5rem;
}
@media (max-width;768px)
.hero-content h1{
font-size: 2.5rem;
}
.hero-content .subtitle{
    font-size: 1.2rem;
}
.gallery-grid{
    grid-template-columns: 1fr;
}
.experience-cards{
    grid-template-columns: 1fr;
}
.about h2, .gallery h2, .experiences h2{
    font-size: 2rem;
}
.experience-cards{
grid-template-columns: 1fr;
}
.about h2, .gallery h2,.experiences h2{
    font-size: 2rem;
}
.about-text p{
    font-size: 1rem;
}
header{
    display: flex;
justify-content: center;
align-items: center;
height: 100px;
background-color: white;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
}
body{
}
section div{
    text-align: center;
    padding: 20px;
    border: 3px solid white:
    margin: auto;
}
section div h1{
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    margin: 0 0 10px;
}
section div p{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #555;
    line-height: 1.5;
}